:root {
    --primary-color: #FFFFFF;
    --secondary-color: #EEEEEE;
    --text-color: #000000;
}

body {
    background-color: var(--primary-color);
}

.page-wrapper {
    display: flex;
}

header {
    background-color: var(--primary-color);
    width: 1920px;
    height: 208px;
    padding-top: 20px;
    gap: 20px;
    align-items: center;
}

.header-conteiner {
    display: flex;
    width: 1168px;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    width: 204px; 
    height: 64px;
    justify-content: space-between;
    align-items: center;
}
